<div class="room-detail-container">
  <div class="room-images">
    <img [src]="mainImage" alt="Main Room" class="main-image" />

    <div class="thumbnail-list">
      <img *ngFor="let thumb of thumbnails" [src]="thumb" (click)="updateMainImage(thumb)" class="thumbnail"
        [class.active]="thumb === mainImage" />
    </div>
    <div class="thumbnail-list">
      <img *ngFor="let thumb of thumbnails1" [src]="thumb" (click)="updateMainImage(thumb)" class="thumbnail"
        [class.active]="thumb === mainImage" />
    </div>
    <div class="thumbnail-list">
      <img *ngFor="let thumb of thumbnails2" [src]="thumb" (click)="updateMainImage(thumb)" class="thumbnail"
        [class.active]="thumb === mainImage" />
    </div>
    <div class="thumbnail-list">
      <img *ngFor="let thumb of thumbnails3" [src]="thumb" (click)="updateMainImage(thumb)" class="thumbnail"
        [class.active]="thumb === mainImage" />
    </div>
    <div class="thumbnail-list">
      <img *ngFor="let thumb of thumbnails4" [src]="thumb" (click)="updateMainImage(thumb)" class="thumbnail"
        [class.active]="thumb === mainImage" />
    </div>
    <div class="thumbnail-list">
      <img *ngFor="let thumb of thumbnails5" [src]="thumb" (click)="updateMainImage(thumb)" class="thumbnail"
        [class.active]="thumb === mainImage" />
    </div>
  </div>

  <div class="room-info">
    <h2>{{ roomTitle }}</h2>
    <p class="description">{{ description }}</p>
    <div class="price-rating">
      <h3 class="price">₹{{ basePrice }}</h3>
    </div>

    <!-- <div class="room-meta">
      <p><strong>Booking Status:</strong> {{ bookingStatus }}</p>
      <p><strong>Check-In:</strong> {{ checkInTime }}</p>
      <p><strong>Check-Out:</strong> {{ checkOutTime }}</p>
      <p><strong>Cancellation:</strong> {{ cancellationPolicy }}</p>
      <p><strong>Cancellation Charges:</strong> ₹{{ cancellationCharges }}</p>
      <p><strong>Discount:</strong> {{ discount }}%</p>
      <P><strong>extraBedCharges:</strong> ₹{{extraBedCharges}} </P>
      <P><strong>finalPrice:</strong> ₹{{finalPrice}} </P>
      <P><strong>hotel_roomId:</strong> {{hotel_roomId}} </P>
      <P><strong>hotel_vendor_id:</strong> {{hotel_vendor_id}} </P>
      <P><strong>maxAdults:</strong> {{maxAdults}} </P>
      <P><strong>maxChildrens:</strong> {{maxChildrens}} </P>
      <P><strong>numRooms:</strong> {{numRooms}} </P>
      <P><strong>numberofBeds:</strong> {{numberofBeds}} </P>
      <P><strong>roomType:</strong> {{roomType}} </P>
      <P><strong>rooms_image:</strong> {{rooms_image}} </P>
      <P><strong>taxIncluded:</strong> {{taxIncluded}} </P>
      <P><strong>updated_at:</strong> {{updated_at}} </P>


    </div> -->

    <div class="room-meta">
      <div class="detail-row" *ngFor="let item of roomDetails">
        <div class="label">{{ item.label }}</div>
        <div class="value">{{ item.value }}</div>
      </div>
    </div>
  </div>
</div>

