<div class="login-wrapper">
  <div class="login-card">
    <div class="login-left">
      <img src="https://img.icons8.com/ios-filled/100/000000/car--v1.png" alt="Logo" class="login-logo">
      <div class="login-title">Anagha Safar</div>
      <div class="login-subtitle">India's letest Tour and travels company</div>
    </div>
    <div class="login-right">
      <div class="login-help">Need help?</div>
      <div class="login-heading">Log in</div>
      <form  [formGroup]='loginform' (ngSubmit)="onlogin()">
  <div style="color:red" *ngIf="!checkform"> Form data invalid please try again </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" placeholder="joe@email.com" formControlName="email">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" placeholder="Enter your Password" formControlName="pass">
      </div>
<div class="form-group mb-3">
  <label for="role" class="form-label">Select User Role</label>
  <select
    id="role"
    class="form-select"
    formControlName="role"
    style="border: 1px solid #ced4da; border-radius: 8px; padding: 5px 5px; font-size: 12px;">
    
    <!-- <option value="">Select a role</option> -->
     
    <option value="admin">Web Admin</option>
    <option value="hotel_vendor">Hotel Admin</option>
  </select>
   </div>
      <a href="#" class="forgot-link">Forgot password?</a> <a [routerLink]="['/hotelVendorForm']" class="register-link" style="font-size: 13px; text-decoration: none;"> Hotel vendor Sign up</a>
      <button type="submit" class="login-btn">Login</button>
       </form>
    </div>
    
  </div>
</div>
