.card {
    border-radius: 12px;
}

input.form-control {
    border-radius: 12px;
    box-shadow: none;
}

table tbody tr td {
    vertical-align: middle !important;
    text-align: center;
}

table tbody tr td img {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 200px;
}
