<!-- <div class="wrapper">
    <div class="body-overlay"></div>
    <app-header></app-header>

    <div id="content" class="{{status}}">
        <router-outlet></router-outlet>
    </div>
</div> -->


    <div class="wrapper" [ngClass]="{ 'full-screen': isLoginPage }">
        <div class="body-overlay" *ngIf="!isLoginPage"></div>
          <app-header *ngIf="!isLoginPage && !isHotelVendor"></app-header>

  <!-- Show hotel vendor header -->
  <app-hotel-vendor-header *ngIf="!isLoginPage && isHotelVendor"></app-hotel-vendor-header>
        <router-outlet *ngIf="isLoginPage"></router-outlet>
        <div id="content" [ngClass]="status" *ngIf="!isLoginPage">
            <router-outlet></router-outlet>
        </div>
        
    </div>