<div class="bodies">

  <div class="top-bar">
    <div>
      <h1>Room Management</h1>
      <p class="sub-heading">Manage your hotel rooms, pricing, and availability</p>
    </div>
    <button class="add-btn" (click)="resirect()">+ Add New Room</button>
  </div>

  <div class="search-filter">
    <input type="text" placeholder="Search rooms..." class="search-box" />
    <div class="filter-btns">
      <button class="active">All Rooms</button>
      <button>Single</button>
      <button>Double</button>
      <button>Suite</button>
    </div>
  </div>

  <div class="room-grid">


    <div class="room-card" *ngFor="let a of alldata; let i = index">
      <div class="room-header">
        <div>
          <h3>{{ a.bedType }}</h3>
          <p style="font-size: 12px; color:  gray;">R001</p>
        </div>
        <div class="icons">
          <i class="material-icons" title="Edit" (click)="redirect(a.hotel_roomId)"> edit</i>
          <i class="material-icons">delete</i>
        </div>
      </div>

      <div class="image-box">
        <img [src]="'http://localhost:8000/storage/' + a.mainImageUrl" alt="Main Room Image" class="main-img" />
      </div>

      <div style="display: flex; align-items: center; gap: 5px;">
        <ng-container *ngFor="let thumb of a.rooms_image.slice(0, 3); let i = index">
          <div class="imag" (mouseover)="changeMainImage(a,thumb)">
            <img class="thumbnail" [src]="'http://localhost:8000/storage/' + thumb" />
            <div class="plus-overlay" *ngIf="i === 2 && a.rooms_image.length > 3">
              +{{ a.rooms_image.length - 2 }}
            </div>
          </div>
        </ng-container>
      </div>

      <div class="price">₹{{ a.basePrice }} <span style="color: gray; font-weight: normal;">/night</span></div>
      <div class="availability">{{ a.maxAdults + a.maxChildren }} guests | 5/8 {{ a.bookingStatus }}</div>
      <div class="status">Status: <span class="badge">{{ a.bookingStatus }}</span></div>

      <p style="font-size: 14px;">Amenities:</p>
      <div class="amenities">
        <ng-container *ngIf="!showAllAmenities">
          <span *ngFor="let amenity of a.amenities.slice(0, 3)">{{ amenity }}</span>
          <span *ngIf="a.amenities.length > 3" (click)="toggleAmenities()" class="more-btn">
            +{{ a.amenities.length - 3 }} more
          </span>
        </ng-container>

        <ng-container *ngIf="showAllAmenities">
          <span *ngFor="let amenity of a.amenities">{{ amenity }}</span>
          <span (click)="toggleAmenities()" class="more-btn">Show less</span>
        </ng-container>
      </div>
    </div>





  </div>

</div>